html, body {
    height: 100%;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f3aac0;
}

p {
    font-size: 16px;
}

a {
    color: #f3aac0;
}

#logo, .project-img {
    max-height: 600px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #ffffff; /* White */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://media.istockphoto.com/id/1125295327/photo/blue-sky-with-white-clouds-nature-background.jpg?s=612x612&w=0&k=20&c=2kfXjxloxyZiGhYMmwclGkexWZevYda6Q2EEkDWhfDk=");
    background-size: cover;
    color: #ffffff;
    background-repeat: no-repeat;}

.bg-2 {
    background-color: #2e72a1; /* Blue */
    color: #ffffff;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: #9966CB; /* Black */
    color: #ffffff;
}

.bg-4 {
    background-color: #f3aac0; /* Dark Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #2e72a1 !important;
}

.floating {
        position: relative;
        animation: float 3s ease-in-out infinite;}

@keyframes float {
        0% {transform: translateY(0);}
        50% {transform: translateY(-20px);}
        100% {transform: translateY(0);}}